.search-page-container {
  display: flex;
  margin-top: 30px;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
}

.search__filter {
  flex: 1;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--font-color);
  padding: 20px 20px 0 20px;
  min-width: 300px;
  max-height: 700px;
}

.search__results {
  flex: 4;
  padding: 0 0 0 40px;
  display: flex;
  flex-direction: column;
}

.search {
  padding: 40px;
}

@media screen and (max-width: 700px) {

  /* Specific to this particular image */
  .search {
    padding: 0;
    padding-top: 40px;
    /* 50% */
  }

  .search-page-container {

    flex-direction: column;
  }
  // .search__filter {
  //   min-width: none;

  // }
}

.search__form {
  display: flex;
  flex-direction: column;
}

.search__filter-heading {
  margin: 0;
}
.search__results-heading {
  margin: 0;
  padding-bottom: 20px;
}

.search__form-field-column {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid var(--font-color);

  select {
    padding: 14px 4px;
    margin-top: 8px;
  }
  input {
    padding: 14px 4px;
    margin-top: 8px;
  }
}

.search__form-field {
  padding: 20px 0;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid var(--font-color);
}

.search__button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  padding: 10px;
  border: 2px solid var(--font-color);
  transition: all 300ms ease-out;
  border-radius: 20px;
  margin-bottom: 40px;
  &:hover {
    background-color: var(--font-color);
    color: var(--background-color);
    border-color: transparent;
    transition: all 300ms ease-out;

  }
}

.search__button-text {
  font-size: 18px;
}

.search__button-icon {
  transition: all 300ms ease-out;
  fill: var(--background-color);
}


.home-link {
  position: absolute;
  right: 10px;
  top: 10px;
}

.search__filter-toggle-container {
  display: flex;
  justify-content: space-between;
}
.search__filter-toggle {

}

